
<section class="content-header">
	<h1>
		我的工作 <small>日常办公</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
		<li class="active">Here</li>
	</ol>
</section>

<!-- Main content -->
<section class="content container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div id="todo_list_box" class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">待办</h3>
					<div class="box-tools pull-right">
						<button type="button" class="btn btn-box-tool" data-widget="collapse">
							<i class="fa fa-minus"></i>
						</button>
					</div>
				</div>
				<div class="box-body">
					<ul class="todo-list">
						<li th:each="todo : ${todos}"><span class="handle"> <i class="fa fa-ellipsis-v"></i> <i class="fa fa-ellipsis-v"></i>
						</span><span class="text" th:text="${todo.title}"></span> <small class="label label-danger" th:if="${todo.leftDays != null && todo.leftDays<3}"> <span
								class="fa fa-clock-o" th:text="${todo.leftDays}"></span><i>天</i>
						</small> <small class="label label-warning" th:if="${todo.leftDays != null && todo.leftDays>=3 && todo.leftDays<7}"> <span class="fa fa-clock-o"
								th:text="${todo.leftDays}"></span><i>天</i>
						</small> <small class="label label-primary" th:if="${todo.leftDays != null && todo.leftDays>=7}"> <span class="fa fa-clock-o" th:text="${todo.leftDays}"></span><i>天</i>
						</small>
							<div class="tools" style="display: inline">
								<i class="  fa fa-edit " th:onclick="|show_do_task(${todo.id})|"></i>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
		<div id="do_task_div" class="col-md-6"></div>
	</div>
</section>
<script src="/js/dashboard.js" />
