<html xmlns=”http://www.w3.org/1999/xhtml”
      xmlns:th=”http://www.thymeleaf.org”
      xmlns:sec=”http://www.thymeleaf.org/thymeleaf-extras-springsecurity4”>
<head>
<th:block th:include="common/header"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<th:block th:include="common/nav-bar"></th:block>
		<th:block th:include="common/left-bar"></th:block>
		<!-- Content Wrapper. Contains page content -->
		<div id="content" class="content-wrapper">
		</div>
		<th:block th:include="common/share_modals"></th:block>
		<th:block th:include="common/footer"></th:block>
		<th:block th:include="common/right-bar"></th:block>
	</div>
	<th:block th:include="common/js-import"></th:block>
	<script src="/js/main.js"></script>
</body>
</html>