<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img th:src="${session.user.headpic}" class="img-circle" alt="User Image">
			</div>
			<div class="pull-left info">
				<p th:text="${session.user.name}"></p>
				<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
			</div>
		</div>

		<ul id="menu_ul" class="sidebar-menu" data-widget="tree">
			<li class="active"><a href="#" onclick="load('/daily',$(this))"> <i class="fa fa-dashboard"></i> <span>我的工作</span>
			</a></li>
			<li sec:authorize="hasAnyAuthority('ROLE_manager')"><a href="#" onclick="load('/taskcreate',$(this))"><i class="fa fa-circle-o"></i><span>任务创建</span></a></li>
			<li><a href="#" onclick="load('/taskpool',$(this))"><i class="fa fa-circle-o"></i><span>任务池</span></a></li>

			<li sec:authorize="hasAnyAuthority('ROLE_manager')"><a href="#" onclick="load('/taskprocess/list',$(this))"><i class="fa fa-circle-o"></i><span>进度查看</span></a></li>
			<li><a href="#" onclick="load('/rankinglist',$(this))"><i class="fa fa-circle-o"></i><span>排行榜</span></a></li>
		</ul>
	</section>
</aside>

