<div id="do_task_box" class="box box-info">
	<div class="box-header with-border">
		<input id="task_id" type="hidden" th:value="${task.id}" />
		<div class="user-block">
			<img class="img-circle" th:src="${task.createUser.headpic}" alt="User Image"> <span class="username" th:text="${task.title}"></a></span> <span class="description"><span
				th:text="${task.createUser.name}"></span> 创建于 - <span th:text="${task.createTs}"></span></span>
		</div>
		<div class="box-tools pull-right">
			<button type="button" class="btn btn-box-tool">
				<i class="fa fa-upload"></i>
			</button>
			<button type="button" class="btn btn-box-tool" data-widget="remove">
				<i class="fa fa-times"></i>
			</button>
		</div>
	</div>
	<div class="box-body">
		<div th:utext="${task.description}"></div>
		<ul id="attechment_ul" class="products-list product-list-in-box">
			<li class="item" th:each="attachment : ${task.attachments}">
				<div class="product-img">
					<img th:src="${attachment.fileInfo.pic}" alt="Product Image">
				</div>
				<div class="product-info">
					<a href="javascript:void(0)" class="product-title"><span th:text="${attachment.fileInfo.fileName}"></span> </a> <span class="product-description"> <span
						th:text="${attachment.user.name}"></span>上传于 - <span th:text="${attachment.createTs}"></span></span>
				</div>
			</li>
		</ul>
		<small class="label label-danger" th:if="${task.leftDays != null && task.leftDays<3}"> <span class="fa fa-clock-o" th:text="${task.leftDays}"></span><i>天</i>
		</small> <small class="label label-warning" th:if="${task.leftDays != null && task.leftDays>=3 && task.leftDays<7}"> <span class="fa fa-clock-o"
			th:text="${task.leftDays}"></span><i>天</i>
		</small> <small class="label label-primary" th:if="${task.leftDays != null && task.leftDays>=7}"> <span class="fa fa-clock-o" th:text="${task.leftDays}"></span><i>天</i>
		</small>
		<div class="btn-group">
			<button class="label label-info dropdown-toggle" data-toggle="dropdown">
				处理中<span class="fa fa-caret-down"></span>
			</button>
			<ul class="dropdown-menu label-dropdown-menu">
				<li><button class="label label-warning ">等待</button></li>
				<li><button class="label label-danger">问题</button></li>
				<li><button class="label label-success">完成</button></li>
			</ul>
		</div>
		<span class="pull-right text-muted"><span th:text="${task.attachments.size()}"></span> 个文档附件 - <span th:text="${task.comments.size()}"></span>条评论</span>

	</div>
	<div id="comments_div" class="box-footer box-comments">
		<div class="box-comment"  th:each="comment : ${task.comments}">
			<img class="img-circle img-sm" th:src="${comment.user.headpic}" alt="User Image">

			<div class="comment-text">
				<span class="username"> <span th:text="${comment.user.name}"></span><span class="text-muted pull-right" th:text="${comment.createTs}"></span></span>
				<span th:text="${comment.value}"></span>
			</div>
		</div>
	</div>
	<div class="box-footer">
		<form action="#" method="post">
			<img class="img-responsive img-circle img-sm" th:src="${session.user.headpic}" alt="Alt Text">
			<div class="img-push input-group margin">
				<input id="task_comment_input" type="text" class="form-control " placeholder="按回车键 可以提交评论"> <span class="input-group-btn">
					<button id="task_comment_submit" type="button" class="btn btn-info btn-flat">发送</button>
				</span>
			</div>
		</form>
	</div>
</div>
<script src="/js/task_detail.js" type="text/javascript"></script>